// ----------------------------------------------
// font,weight,size,color,Font-Family
// Font Weight: f-w
// Font Size: f-s
// Font-Family: f-f [coder,github]
// Font-color: f-c
// ----------------------------------------------
// Font Weight
@for $counter from 1 through 9 {
    .f-w\:#{$counter * 100} {
        font-weight: ($counter * 100) !important;
    }
    @each $pseudo,$attr in $Pseudo-dict {
        .#{$pseudo}\:f-w\:#{$counter * 100}:#{$attr} {
            font-weight: ($counter * 100) !important;
        }
    }
}
// Font Size
@for $counter from 1 through 20 {
    .f\:#{$counter},.f-s\:#{$counter} {
        font-size: ($counter * .25rem) !important;
    }
    @each $pseudo,$attr in $Pseudo-dict {
        .#{$pseudo}\:f\:#{$counter}:#{$attr},.#{$pseudo}\:f-s\:#{$counter}:#{$attr} {
            font-size: ($counter * .25rem) !important;
        }
    }
}

.f\:0,.f-s\:0 {
    font-size: 0 !important;
}
@each $pseudo,$attr in $Pseudo-dict {
    .#{$pseudo}\:f\:0:#{$attr} {
        font-size: 0 !important;
    }
}
// Font-Family

.f-f\:coder {
    font-family: $ff-pui-coder !important;
}
.f-f\:github{
    font-family: $ff-github !important;
}
.f-f\:pillow{
    font-family: $ff-pillow !important;
}
// Font-color
@each $name,$color in $color-dict {
    .f-c\:#{$name} {
        color: $color !important;
    }

    .f-c\:#{$name}-light {
        color: lighten($color, 15%) !important;
    }

    .f-c\:#{$name}-lighter {
        color: lighten($color, 25%) !important;
    }

    .f-c\:#{$name}-lightest {
        color: lighten($color, 35%) !important;
    }

    .f-c\:#{$name}-dark {
        color: darken($color, 15%) !important;
    }

    .f-c\:#{$name}-darker {
        color: darken($color, 25%) !important;
    }

    .f-c\:#{$name}-darkest {
        color: darken($color, 35%) !important;
    }
}
@each $pseudo,$attr in $Pseudo-dict {
    @each $name,$color in $color-dict {
        .#{$pseudo}\:f-c\:#{$name}:#{$attr} {
            color: $color !important;
        }

        .#{$pseudo}\:f-c\:#{$name}-light:#{$attr} {
            color: lighten($color, 15%) !important;
        }

        .#{$pseudo}\:f-c\:#{$name}-lighter:#{$attr} {
            color: lighten($color, 25%) !important;
        }

        .#{$pseudo}\:f-c\:#{$name}-lightest:#{$attr} {
            color: lighten($color, 35%) !important;
        }

        .#{$pseudo}\:f-c\:#{$name}-dark:#{$attr} {
            color: darken($color, 15%) !important;
        }

        .#{$pseudo}\:f-c\:#{$name}-darker:#{$attr} {
            color: darken($color, 25%) !important;
        }

        .#{$pseudo}\:f-c\:#{$name}-darkest:#{$attr} {
            color: darken($color, 35%) !important;
        }
    }
}
