// ----------------------------------------------
// postion
// ...
//
// ----------------------------------------------

.ps\:rel{
    position: relative !important;
}

.ps\:abs{
    position: absolute !important;
}

.ps\:fix{
    position: fixed !important;
}

.ps\:un{
    position: unset !important;
}
