// ----------------------------------------------
// text
// text-align,text-overflow,text-transform: t
// ----------------------------------------------
// text-align
.t\:left {
  text-align: left !important;
}

.t\:center {
  text-align: center !important;
}

.t\:right {
  text-align: right !important;
}

// text-overflow
.t\:of-dot {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// transform
.t\:upper {
  text-transform: uppercase !important;
}
.t\:cap {
  text-transform: capitalize !important;
}
.t\:lower {
  text-transform: lowercase !important;
}
