// todo...

// fieldset
@import "./form/input";
@import "./form/file";

form{
    input{
        outline:none;
        transition: border-color .15s ease-in;
        border: 2px solid #ddd;
        &[disabled]{
            background-color: #eee;
        }
    }
}
