// ----------------------------------------------
// gird layout
//
// power by flex
// ----------------------------------------------
.container {
    @extend .m-auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-flow: row wrap;
}
.row + .row {
    margin-top: 1rem;
}
/* With gutters */
@for $gap-size from 1 through 10 {
    .row-gap\:#{$gap-size} {
        margin: -#{0.25 * $gap-size}rem 0 0 -#{0.25 * $gap-size}rem;
    }

    .row-gap\:#{$gap-size} > [class^=col] {
        padding: #{0.25 * $gap-size}rem 0 0 #{0.25 * $gap-size}rem;
    }
}

.row-gap {
    margin: -1rem 0 0 -1rem;
}

.row-gap > [class^=col] {
    padding: 1rem 0 0 1rem;
}
/* Alignment per row */
.row\:top {
    align-items: flex-start;
}

.row\:bottom {
    align-items: flex-end;
}

.row\:center {
    align-items: center;
}
// ----------------------------------------------
// cell
@for $gird-width from 1 through 10 {
    .col\:#{$gird-width} {
        flex: 0 0 #{100% * $gird-width / 10};
        max-width: #{100% * $gird-width / 10}
    }
    .col-offest\:#{$gird-width} {
        margin-left: #{100% * $gird-width / 10};
    }
}
// media xs
@media (max-width: 12rem) {
    @for $gird-width from 1 through 10 {
        .col-xs\:#{$gird-width} {
            flex: 0 0 #{100% * $gird-width / 10};
        }
        .col-xs-offest\:#{$gird-width} {
            margin-left: #{100% * $gird-width / 10};
        }
    }
}
// sm small
@media (max-width: 24rem) {
    @for $gird-width from 1 through 10 {
        .col-sm\:#{$gird-width} {
            flex: 0 0 #{100% * $gird-width / 10};
        }
        .col-sm-offest\:#{$gird-width} {
            margin-left: #{100% * $gird-width / 10};
        }
    }
}
// md
@media (min-width: 48rem) {
    @for $gird-width from 1 through 10 {
        .col-md\:#{$gird-width} {
            flex: 0 0 #{100% * $gird-width / 10};
        }
        .col-md-offest\:#{$gird-width} {
            margin-left: #{100% * $gird-width / 10};
        }
    }
}
// lg
@media (min-width: 60rem) {
    @for $gird-width from 1 through 10 {
        .col-lg\:#{$gird-width} {
            flex: 0 0 #{100% * $gird-width / 10};
        }
        .col-lg-offest\:#{$gird-width} {
            margin-left: #{100% * $gird-width / 10};
        }
    }
}
/* Alignment per cell */
.cell\:top {
    align-self: flex-start;
}

.cell\:bottom {
    align-self: flex-end;
}

.cell\:center {
    align-self: center;
}
