// ----------------------------------------------
// gird layout
//
// power by flex
// ----------------------------------------------
// config responsive
$responsive-map: (
    "xs": (max-width,24rem), // ~=384px
    "sm": (max-width,36rem), // ~=575px
    "md": (min-width,60rem), // ~=960px
    "lg": (min-width,84rem), // ~=1340px
); // ----------------------------------------------

.container {
    // @extend .m-auto;
    margin: 0 auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-flow: row wrap;

    & + .row {
        margin-top: 1rem;
    }
}
@mixin responsive($tag:"") {
    /* With gutters */
    @for $gap-size from 0 through 10 {
        .row#{$tag}-gap\:#{$gap-size} {
            margin: -#{0.25 * $gap-size}rem 0 0 -#{0.25 * $gap-size}rem;

            & > [class^=col] {
                padding: #{0.25 * $gap-size}rem 0 0 #{0.25 * $gap-size}rem;
            }
        }
    }

    .row#{$tag}-gap {
        margin: -1rem 0 0 -1rem;

        & > [class^=col] {
            padding: 1rem 0 0 1rem;
        }
    }
    /* Alignment per row */
    .row#{$tag}\:top {
        align-items: flex-start;
    }

    .row#{$tag}\:bottom {
        align-items: flex-end;
    }

    .row#{$tag}\:center {
        align-items: center;
    }

    .row#{$tag}\:baseline {
        align-items: baseline;
    }
    // order
    // direction
    .row#{$tag}\:re,
    .row#{$tag}\:reverse {
        flex-direction: row-reverse;
    }

    .row#{$tag}\:column {
        flex-direction: column;
    }

    .row#{$tag}\:re-column {
        flex-direction: column-reverse;
    }
    // dist
    .row#{$tag}\:around {
        justify-content: space-around;
    }

    .row#{$tag}\:between {
        justify-content: space-between;
    }
    // hidden
    .row#{$tag}\:0,.row#{$tag}\:hidden,
    .col#{$tag}\:0,.col#{$tag}\:hidden{
        display: none;
    }

    // ----------------------------------------------
    // cell
    .col#{$tag},
    .col#{$tag}\:auto {
        flex: 1 1 0;
    }

    .col#{$tag}-order\:1,
    .col#{$tag}\:first {
        order: -1;
    }

    .col#{$tag}-order\:-1,
    .col#{$tag}\:last {
        order: 1;
    }
    @for $gird-width from 1 through 10 {
        .col#{$tag}\:#{$gird-width} {
            flex: 0 0 #{100% * $gird-width / 10};
            max-width: #{100% * $gird-width / 10};
        }

        .col#{$tag}-offset\:#{$gird-width} {
            margin-left: #{100% * $gird-width / 10};
        }
    }
    // none offset
    .col#{$tag}-offset\:0,.col#{$tag}-offset\:hidden{
        margin-left: 0;
    }

    /* Alignment per cell */
    .col#{$tag}\:top {
        align-self: flex-start;
    }

    .col#{$tag}\:bottom {
        align-self: flex-end;
    }

    .col#{$tag}\:center {
        align-self: center;
    }

    .col#{$tag}\:baseline {
        align-self: baseline;
    }
}
@include responsive;
@each $re-name,$re-option in $responsive-map {
    $tag: nth($re-option,1);
    $re-size: nth($re-option,2);
    @media ($tag: $re-size) {
        @include responsive(#{"-"+$re-name})
    }
}
