// --------------------------------------------------
// tooltip
// --------------------------------------------------

[tip] {
    position: relative;
    // Vertically position
    :after {
        content: attr(tip);
        visibility: hidden;
        z-index: 99;
        
        position: absolute;
        top: 50%;
        left: 100%;
    
        transform: translate(-5px, -50%);
        transition: all .3s;
        opacity: 0;
        
        white-space: pre;
        font-size: 16px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.1),
        0 0 1px rgba(0, 0, 0, 1);
    }

    :hover {
        /* ie */
        overflow: visible;

        :after {
            opacity: .8;
            transition: all .3s;
            transform: translate(5px, -50%);
            visibility: visible;
            display: block;
        }
    }
}

[tip\:yellow]:after , [tip\:warning]:after{
    background-color: rgba($warning, .8);
    color: #fff;
}

[tip\:gray]:after , [tip\:secondary]:after{
    background-color: rgba($gray, .8);
    color: #fff;
}

[tip\:red]:after, [tip\:danger]:after{
    background-color: rgba($danger, .8);
    color: #fff;
}

[tip\:blue]:after, [tip\:primary]:after{
    background-color: rgba($primary, .8);
    color: #fff;
}

[tip\:green]:after, [tip\:success]:after{
    background-color: rgba($success, .8);
    color: #fff;
}

[tip\:left]:after {
    top: unset;
    bottom: 100%;
    left: 100%;
}

[tip\:mid]:after {
    top: 50%;
    right: 50%;
    left: unset;
}