// ----------------------------------------------
// input-group
// ----------------------------------------------
$field-color-map:(
    ("blue","primary",$primary),
    ("gray", "secondary", $secondary),
    ("green", "success",$success),
    ("cyan", "info", $info),
    ("yellow", "warning", $warning),
    ("red", "danger", $danger),
    ("black", "dark", $dark)
);
$inp-radius: 2px;

.input-group {
    display: flex;
    margin-bottom: 1.5em;

    > .field {
        flex: 1;
        z-index: 1;
    }

    > .field:not(:first-child) {
        border-left: 0;
    }

    > .field:not(:last-child) {
        border-right: 0;
    }

    > .item {
        font: inherit;
        font-weight: normal;
    }

    > .field,
    > .item {
        border: 1px solid #{$gray};
        padding: 0.5em 0.75em;
    }
    // focus color
    > .field {
        @each $color_f in $field-color-map {
            $name_1: nth($color_f, 1);
            $name_2: nth($color_f, 2);
            $t_color: nth($color_f, 3);

            &.#{$name_1}:focus,
            &.#{$name_2}:focus {
                border-color: $t_color;

                &.shadow {
                    box-shadow: 0 0 5px $t_color;
                }
            }
        }
    }

    > .field:first-child,
    > .item:first-child {
        border-radius: #{$inp-radius} 0 0 #{$inp-radius};
    }

    > .field:last-child,
    > .item:last-child {
        border-radius: 0 #{$inp-radius} #{$inp-radius} 0;
    }
}
