// ----------------------------------------------
// border
// border-width: b
// border-color: b-c
// ----------------------------------------------
.no-b {
  border-width: 0 !important;
}
.b\:none {
  border-style: none !important;
}
.b\:hidden {
  border-style: hidden !important;
}
@each $pseudo,$attr in $Pseudo-dict {
    .#{$pseudo}\:no-b:#{$attr} {
        border-width: 0 !important;
    }
    .#{$pseudo}\:b\:none:#{$attr} {
         border-style: none !important;
    }
    .#{$pseudo}\:b\:hidden:#{$attr} {
         border-style: none !important;
    }
}
$b-attr-map: (
    "t":"top",
    "b":"bottom",
    "r":"right",
    "l":"left",
);
// border-width with default color and style
@for $counter from 0 through 5 {
  .b\:#{ $counter } {
    border-width: ($counter * 1px) !important;
    border-style: solid !important;
  }
  @each $attr,$attr_name in $b-attr-map{
      .b-#{$attr}\:#{ $counter } {
        border-#{$attr_name}-width: ($counter * 1px) !important;
        border-#{$attr_name}-style: solid !important;
      }
  }
}
@each $pseudo,$_attr in $Pseudo-dict {
    @for $counter from 0 through 5 {
      .#{$pseudo}\:b\:#{ $counter }:#{$_attr} {
          border-width: ($counter * 1px) !important;
          border-style: solid !important;
      }
      @each $attr,$attr_name in $b-attr-map{
          .#{$pseudo}\:b-#{$attr}\:#{ $counter }:#{$_attr} {
            border-#{$attr_name}-width: ($counter * 1px) !important;
            border-#{$attr_name}-style: solid !important;
          }
      }
    }
}
// border-color
@each $name,$color in $color-dict {
    .b-c\:#{$name} {
        border-color: $color !important;
    }

    .b-c\:#{$name}-light {
        border-color: lighten($color, 15%) !important;
    }

    .b-c\:#{$name}-lighter {
        border-color: lighten($color, 25%) !important;
    }

    .b-c\:#{$name}-lightest {
        border-color: lighten($color, 35%) !important;
    }

    .b-c\:#{$name}-dark {
        border-color: darken($color, 15%) !important;
    }

    .b-c\:#{$name}-darker {
        border-color: darken($color, 25%) !important;
    }

    .b-c\:#{$name}-darkest {
        border-color: darken($color, 35%) !important;
    }
}
@each $pseudo,$attr in $Pseudo-dict {
    @each $name,$color in $color-dict {
        .#{$pseudo}\:b-c\:#{$name}:#{$attr} {
            border-color: $color !important;
        }

        .#{$pseudo}\:b-c\:#{$name}-light:#{$attr} {
            border-color: lighten($color, 15%) !important;
        }

        .#{$pseudo}\:b-c\:#{$name}-lighter:#{$attr} {
            border-color: lighten($color, 25%) !important;
        }

        .#{$pseudo}\:b-c\:#{$name}-lightest:#{$attr} {
            border-color: lighten($color, 35%) !important;
        }

        .#{$pseudo}\:b-c\:#{$name}-dark:#{$attr} {
            border-color: darken($color, 15%) !important;
        }

        .#{$pseudo}\:b-c\:#{$name}-darker:#{$attr} {
            border-color: darken($color, 25%) !important;
        }

        .#{$pseudo}\:b-c\:#{$name}-darkest:#{$attr} {
            border-color: darken($color, 35%) !important;
        }
    }
}
