// ----------------------------------------------
// transition,box-sizing
// ----------------------------------------------
@for $counter from 1 through 10{
    .smoomth\:#{$counter}{
        transition: all #{.1s * $counter} !important;
    }
}
.smoomth{
    transition: all .2s !important;
}
.bbox{
    box-sizing: border-box !important;
}
.cbox{
    box-sizing: content-box !important;
}
.clearfix:after {
    content: " ";
    display: block;;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
