// ----------------------------------------------
// font,weight,size,color,Font-Family
// Font Weight: f-w
// Font Size: f-s
// Font-Family: f-f [coder,github]
// Font-color: f-c
// ----------------------------------------------
// Font Weight
@for $counter from 1 through 9 {
    .f-w\:#{$counter * 100} {
        font-weight: ($counter * 100);
    }
    @each $pseudo,$attr in $Pseudo-dict {
        .#{$pseudo}\:f-w\:#{$counter * 100}:#{$attr} {
            font-weight: ($counter * 100);
        }
    }
}
// Font Size
@for $counter from 1 through 20 {
    .f-s\:#{$counter} {
        font-size: ($counter * .25rem);
    }
    @each $pseudo,$attr in $Pseudo-dict {
        .#{$pseudo}\:f-s\:#{$counter}:#{$attr} {
            font-size: ($counter * .25rem);
        }
    }
}

.f-s\:0 {
    font-size: 0;
}
@each $pseudo,$attr in $Pseudo-dict {
    .#{$pseudo}\:f-s\:0:#{$attr} {
        font-size: 0;
    }
}
// Font-Family

.f-f\:coder {
    font-family: #{$ff-pui-coder};
}
.f-f\:github{
    font-family: #{$ff-github};
}
// Font-color
@each $name,$color in $color-dict {
    .f-c\:#{$name} {
        color: $color;
    }

    .f-c\:#{$name}-light {
        color: lighten($color, 15%);
    }

    .f-c\:#{$name}-lighter {
        color: lighten($color, 25%);
    }

    .f-c\:#{$name}-lightest {
        color: lighten($color, 35%);
    }

    .f-c\:#{$name}-dark {
        color: darken($color, 15%);
    }

    .f-c\:#{$name}-darker {
        color: darken($color, 25%);
    }

    .f-c\:#{$name}-darkest {
        color: darken($color, 35%);
    }
}
@each $pseudo,$attr in $Pseudo-dict {
    @each $name,$color in $color-dict {
        .#{$pseudo}\:f-c\:#{$name}:#{$attr} {
            color: $color;
        }

        .#{$pseudo}\:f-c\:#{$name}-light:#{$attr} {
            color: lighten($color, 15%);
        }

        .#{$pseudo}\:f-c\:#{$name}-lighter:#{$attr} {
            color: lighten($color, 25%);
        }

        .#{$pseudo}\:f-c\:#{$name}-lightest:#{$attr} {
            color: lighten($color, 35%);
        }

        .#{$pseudo}\:f-c\:#{$name}-dark:#{$attr} {
            color: darken($color, 15%);
        }

        .#{$pseudo}\:f-c\:#{$name}-darker:#{$attr} {
            color: darken($color, 25%);
        }

        .#{$pseudo}\:f-c\:#{$name}-darkest:#{$attr} {
            color: darken($color, 35%);
        }
    }
}
