// ----------------------------------------------
// padding
// padding: p
// ----------------------------------------------
$attr-map : (
    "t":"top",
    "r":"right",
    "b":"bottom",
    "l":"left"
);
@for $counter from 0 through 6 {
    .p\:#{ $counter } {
        padding: ($counter * .25rem) !important;
    }
    @each $attr,$name in $attr-map{
        .p-#{$attr}\:#{$counter} {
            padding-#{$name}: ($counter * .25rem) !important;
        }
    }
}
@each $pseudo,$_attr in $Pseudo-dict {
    @for $counter from 0 through 6 {
        .#{$pseudo}\:p\:#{ $counter }:#{$_attr} {
            padding: ($counter * .25rem) !important;
        }
        @each $attr,$name in $attr-map{
            .#{$pseudo}\:p-#{$attr}\:#{$counter}:#{$_attr} {
                padding-#{$name}: ($counter * .25rem) !important;
            }
        }
    }
}
