// ----------------------------------------------
// width: w
// height: h
// ----------------------------------------------
.h-full {
  height: 100% !important;
}

.w-full {
  width: 100% !important;
}

@for $counter from 1 through 20 {
  .h\:#{ $counter } {
    height: ($counter * 48px) !important;
  }
  .h\:#{ $counter }r {
    height: ($counter * .25rem) !important;
  }
  .w\:#{ $counter } {
    width: ($counter * 48px) !important;
  }
  .w\:#{ $counter }r {
    width: ($counter * .25rem) !important;
  }
}

@for $counter from 1 through 10 {
  .h\:#{ $counter * 10 }\% {
    height: ($counter * 10vh) !important;
  }
  .w\:#{ $counter * 10 }\% {
    width: ($counter * 10vw) !important;
  }
}
