$gray: gray;
$brown: brown;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$color-dict: (
    'gray': $gray,
    'brown': $brown,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink
);
$Pseudo-dict: (
    'hover': 'hover',
    'focus': 'focus',
    'valid': 'valid',
    'invalid': 'invalid'
);
@import "color";
@import "margin";
@import "padding";
@import "rounded";
@import "alignment";
@import "border";
@import "overflow";
@import "shadow";
@import "text";
@import "size"; // @import "hover";
@import "font";
@import "float";
@import "case";
