// --------------------------------------------------
// Media
// --------------------------------------------------

.media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;

    .avatar,
    .figure {
        margin-right: 1rem;
    }

    .avatar {
        display: inline-block;
        border-radius: 100%;
        overflow: hidden;
        & img{
            display: block;
        }
    }

    .body,
    .content {
        flex: 1;
    }

    .body,
    .body:last-child,
    .content,
    .content:last-child {
        margin-bottom: 0;
    }

    .body > .header,
    .body > .title,
    .content > .header,
    .content > .title {
        margin: 0 0 0.5rem;
    }
}

.media\:center {
    align-items: center;
}

.media-reverse{
    > .avatar, > .figure{
        order: 1;
        margin: 0 0 0 1rem;
    }
}
